p {
  color: aliceblue;
  margin-bottom: 0 !important;
  text-align: center;
}

.navmenu{
    display: none;
}

nav {
  padding: 1rem;
  grid-area: navbar;
  background: #082032;
  color: bisque;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul{
    list-style: none;
    padding: 0 !important;
}

section {
  padding: 10px;
  grid-area: search;
  background: #334756;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
  background: #334756;
  color: beige;
  padding: 10px;
}

.layout {
  display: grid;
  border: 1px solid black;
  grid-template-rows: 1fr 1fr 8fr 1 fr;
  grid-template-areas:
    "navbar"
    "search"
    "main"
    "footer";
}

h1 {
  font-family: fantasy;
}

img {
  max-width: 100%;
}


.dropdown {
  text-align: center;
}

.dropdown-toggle {
  width: 70%;
  display: flex;
}

.grid-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.grid-item1 {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #334756;
  padding: 1rem;
  margin: 1rem;
}

.grid-item2 {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #334756;
  padding: 1rem;
  margin: 1rem;
}

.cards {
  font-size: 1em;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}

.btn{
    background-color: #F0A500;
}

.grid-item2 {
  display: none;
}

/**pagination**/
.pagination {
  display: inline-block;
  justify-content: center;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 1em;
}

.pagination a.active {
  background-color: #F0A500;
  color: white;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}

.page2 {
  display: none;
}

/**footer**/
footer {
  text-align: center;
  margin-top: 2%;
}

.logos {
  max-width: 2rem;
}

@media (min-width: 576px) {
  .layout {
    grid-template-areas:
      "navbar main main main"
      "navbar main main main"
      "navbar main main main"
      "footer main main main";
    grid-template-columns: 1fr 10fr;
    grid-template-rows: 1fr 3fr 3fr 1fr;
  }

  nav {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

.navmenu{
    display: contents;
}

  .fa-solid {
    display: none !important;
  }

  .page2 {
    display: inherit;
  }

  .grid-item1 {
    width: 20%;
  }

  .grid-item2 {
    display: flex;
    width: 20%;

    justify-content: center;
  }

  .pagination{
      margin-bottom: 1rem;
  }

  footer {
    margin: 0;
  }

}
