p{
    background: #749c2c;
    color: aliceblue;
    margin: 10px;
    padding: 10px;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr;
}

nav{
    padding: 10px;
    grid-area: menu;
    background: #0037a1;
    color:bisque;

}

section{
    padding: 10px;
    grid-area: search;
    background: gray;

}

main{
    grid-area: main;
    padding: 10px; 

}

footer{
    grid-area: footer;
    background: royalblue;
    color: beige;
    padding: 10px;
 
}

.layout{
    display: grid;
    border: 1px solid black;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "menu"
    "search"
    "main"
    "footer";
}

@media (min-width: 576px){
    .grid-container{
        grid-template-areas: 
    "menu search main"
    "menu search main"
    "menu search main"
    "menu footer";
    grid-template-columns: 1fr 10fr;
    }
}
